// Colores
@colorprincipal: #19509a; // Azul Oscuro
@colorsecundario: #2871d3; // Azul menos oscuro
@colorlink: rgb(51, 122, 183);
@colorborder: #D9D9D9;
@colormuted: #888;
@colorpeligro: #A42A2A;
@colorwarning: #E5B000;